@import "vars";

@media screen {
  body {
    display: none !important;
  }
}

@media print {

  * {
    font-family: "Arial", serif;
    font-weight: normal;
  }

  @page {
    size: A4;
    margin: 12pt 12pt 24pt 24pt;
  }

  @page :first {
    size: A4;
    margin: 24pt 12pt 24pt 24pt;
  }

  body {

    font-size: 11pt;
    margin: 0;
    counter-reset: page;

    div#header {
      //position: fixed;
      //top: 0;
      //left: 0;
      //width: 100%;
      counter-increment: page;
    }

    #page-number:after {
      content: counter(page)
    }

  }

  @import "print_table";
  @import "print_utils";

}